* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea {
  resize: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}

.header__burger {
  display: none;
}

.burger__open {
  padding-top: 120px;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.burger__open-active {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.burger__open-btn-item {
  display: none;
}

.cen {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.di-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.b-block {
  display: block;
}

.di-block {
  display: inline-block;
}

.a-i-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-i-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.a-i-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.j-c-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.j-c-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-c-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.j-c-space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-fill {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.re {
  position: relative;
}

.cu-po {
  cursor: pointer;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  line-height: 120%;
}

main,
aside {
  padding-top: 41px;
}

main {
  background-color: #fafbff;
  min-height: 100vh;
  padding-left: 5.5%;
  padding-right: 13.5%;
}

aside {
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 51px;
  line-height: 160%;
  letter-spacing: -1px;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px auto;
  grid-template-columns: 300px auto;
}

.aside__logo {
  width: 208px;
  margin-bottom: 50px;
}

.aside__buttons-wrapper {
  width: 100%;
}

.aside__buttons-item {
  width: 100%;
  margin-bottom: 15px;
}

.aside__buttons-item button {
  background-color: transparent;
  border-radius: 8px;
  padding: 11px;
  padding-right: 14px;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.aside__buttons-item p {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  gap: 14px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside__buttons-item p span {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #9197B3;
  font-style: 14px;
}

.aside__buttons-item.active {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.aside__buttons-item.active button {
  background-color: #5932EA;
}

.aside__buttons-item.active span {
  color: #fff;
}

.aside__buttons-item.active svg path {
  fill: transparent;
  stroke: #fff;
}

.aside__buttons-item:hover button {
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  background-color: rgba(90, 50, 234, 0.7176470588);
}

.aside__buttons-item:hover span {
  color: #fff;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.aside__buttons-item:hover svg path {
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  fill: transparent;
  stroke: #fff;
}

.aside__buttons-item.active:hover button {
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  background-color: #5932EA;
  cursor: default;
}

.aside__person-information img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 12px;
  cursor: pointer;
}

.aside__person-information .first-name {
  font-weight: 500;
  letter-spacing: 1%;
  font-size: 14px;
}

.aside__person-information .last-name {
  letter-spacing: 1%;
  font-size: 12px;
  color: #757575;
}

.aside__person-information-wrapper {
  height: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 76px;
  margin-bottom: 76px;
}

.main__wrapper {
  background-color: #fff;
  border-radius: 30px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.main__wrapper-top {
  padding: 0px 38px;
  margin-bottom: 40px;
}

.main__wrapper-top h2 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

.main__wrapper-top p {
  font-size: 14px;
  letter-spacing: -1px;
  color: #16C098;
}

.main__wrapper-top input {
  background-color: #E7E7E7;
  border-radius: 10px;
  color: #B5B7C0;
  font-size: 12px;
  height: 38px;
  width: 216px;
  padding-left: 40px;
  color: #000;
  position: relative;
  padding-right: 10px;
}

.main__wrapper-top input::-webkit-input-placeholder {
  color: #B5B7C0;
}

.main__wrapper-top input::-moz-placeholder {
  color: #B5B7C0;
}

.main__wrapper-top input:-ms-input-placeholder {
  color: #B5B7C0;
}

.main__wrapper-top input::-ms-input-placeholder {
  color: #B5B7C0;
}

.main__wrapper-top input::placeholder {
  color: #B5B7C0;
}

.main__wrapper-topInput {
  position: relative;
}

.main__wrapper-topInput:after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url("../img/search.svg");
  position: absolute;
  top: calc(50% - 12px);
  left: 8px;
  height: 24px;
  width: 24px;
  z-index: 2;
}

.wrapper__bottom-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.22fr 0.135fr 0.16fr 0.205fr 0.14fr 0.14fr;
  grid-template-columns: 0.22fr 0.135fr 0.16fr 0.205fr 0.14fr 0.14fr;
  letter-spacing: -1px;
  font-size: 14px;
  font-weight: 500;
  gap: 3px;
}

.wrapper__bottom-item td {
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 130%;
  margin-top: auto;
  margin-bottom: auto;
}

.wrapper__bottom-item {
  color: #292D32;
}

.wrapper__bottom-item.first td {
  color: #B5B7C0;
  padding-bottom: 14px;
  padding-top: 0px;
  border-bottom: 1px solid #EEEEEE;
}

.wrapper__bottom-item {
  position: relative;
}

.wrapper__bottom-item:after {
  content: "";
  display: block;
  width: calc(100% - 88px);
  height: 1px;
  background-color: #EEEEEE;
  position: absolute;
  top: 100%;
  left: 38px;
}

.wrapper__bottom-item button {
  color: #008767;
  font-size: 14px;
  border-radius: 4px;
  height: 29px;
  width: 80px;
  background-color: rgba(22, 192, 152, 0.38);
  border: 1px solid #00B087;
  text-align: center;
  font-weight: 500;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.wrapper__bottom-item button.disabled {
  color: #DF0404;
  border: 1px solid #DF0404;
  background-color: #FFC5C5;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.wrapper__bottom-item button:hover {
  background-color: rgba(22, 192, 152, 0.8);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.wrapper__bottom-item button.disabled:hover {
  background-color: #f07a7a;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.main__pagination-description {
  color: #B5B7C0;
  font-size: 14px;
}

.main__pagination-net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 12px;
}

.main__pagination-net a {
  border-radius: 4px;
  background-color: #F5F5F5;
  color: #404B52;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 12px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.main__pagination-net a.active {
  background-color: #5932EA;
  color: #fff;
}

.main__pagination-net a.active:hover {
  background-color: #5932EA;
}

.main__pagination-net a:hover {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: rgba(194, 185, 185, 0.8352941176);
}

.main__pagination-net .rotate {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main__pagination {
  margin-top: 30px;
  padding-left: 38px;
  padding-right: 38px;
  font-weight: 500;
}

.main__wrapper-bottom .first-padding {
  padding-left: 38px;
}

.pl13 {
  padding-left: 13px;
}

@media (max-width: 1430px) {
  main,
  aside {
    padding-top: calc(20px + 21 * ((100vw - 320px) / 1130));
  }

  aside {
    padding-left: calc(10px + 20 * ((100vw - 320px) / 1130));
  }

  aside {
    padding-right: calc(10px + 20 * ((100vw - 320px) / 1130));
  }

  h1 {
    margin-bottom: calc(24px + 27 * ((100vw - 320px) / 1130));
  }

  .aside__logo {
    width: calc(120px + 88 * ((100vw - 320px) / 1130));
  }

  .aside__logo {
    margin-bottom: calc(24px + 26 * ((100vw - 320px) / 1130));
  }

  .aside__person-information-wrapper {
    margin-top: calc(32px + 44 * ((100vw - 320px) / 1130));
  }

  .aside__person-information-wrapper {
    margin-bottom: calc(32px + 44 * ((100vw - 320px) / 1130));
  }
}

@media (max-width: 768px) {
  .burger__open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    overflow: auto;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 575px) {
  .header__burger {
    z-index: 9000;
    position: relative;
    display: block;
    width: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    height: 40px;
    position: relative;
  }

  .header__burger:after {
    content: "";
    display: block;
    background-color: #3366a7;
    border-radius: 50px;
    width: 26px;
    height: 4px;
    position: absolute;
    top: 18px;
    right: 0px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header__burger:before {
    content: "";
    display: block;
    background-color: #3366a7;
    border-radius: 50px;
    width: 26px;
    height: 4px;
    position: absolute;
    top: 10px;
    right: 0px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header__burger span:after {
    content: "";
    display: block;
    background-color: #3366a7;
    border-radius: 50px;
    width: 26px;
    height: 4px;
    position: absolute;
    top: 26px;
    right: 0;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .close:after {
    content: "";
    display: block;
    position: absolute;
    top: 18px;
    right: 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 23px;
  }

  .close:before {
    content: "";
    display: block;
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .close span:after {
    content: "";
    display: block;
    position: absolute;
    top: 18px;
    right: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 23px;
  }

  .burger__open-btn-item {
    display: inline-block;
  }
}